<section id="about" class="mx-auto w-4/5 md:w-1/2 text-center">
    <h2 class="bitter-font text-lg lg:text-2xl mx-auto pb-2">
        a <em>darling</em> lil’ bar for <strong>darling</strong> lil’ people
    </h2>
    <p>{{site.data.winebar.about}}</p>
    <br />
    Darling was voted Lexington's<br />
    <a
        href="https://smileypete.com/community/smiley-pete-s-best-of-lex-music-nightlife/#:~:text=%E2%80%A2%20Campus%20Pub-,Best%20Wine%20Bar,-1.%20Darling%20Wine"
        >Best Wine Bar</a
    >
    &
    <a
        href="https://smileypete.com/community/smiley-pete-s-best-of-lex-food-drink/#:~:text=3.%20Jasmine%20Rice-,Best%20Wine%20List,-1.%20Darling%20Wine"
        >Best Wine List</a
    >
    <br />
    in Smiley Pete's 2024 readers' choice poll
</section>
