<section id="bartenders" class="mx-auto text-center w-1/2 md:w-3/5 lg:w-1/2">
    <h2 class="bitter-font text-2xl mx-auto pb-2">Bartenders</h2>

    <div class="flex flex-wrap justify-center">
        {% for bartender in site.data.winebar.bartenders %}
        <div class="flex flex-col items-center px-1 md:w-1/2 pb-6">
            {% capture bartender_photo_url
            %}/assets/img/bartenders/{{bartender.name}}.png {% endcapture %}
            <img
                src="{{bartender_photo_url | relative_url }}"
                class="rounded-full border-4 border-[#ee3831] w-40"
            />
            <h3 class="bitter-font font-bold">{{bartender.name}}</h3>
            <p class="text-xs w-40">{{bartender.tidbit}}</p>
        </div>
        {% endfor %}
    </div>
</section>
</section>
