<section id="bartenders" class="mx-auto text-center w-1/2">
    <h2 class="bitter-font text-2xl mx-auto pb-2">Bartenders</h2>
    <div class="flex flex-wrap">
        {% for bartender in site.data.winebar.bartenders %}
        <div class="flex flex-col items-center px-7 pb-4">
            {% capture bartender_photo_url
            %}/assets/img/bartenders/{{bartender.name}}.png {% endcapture %}
            <img
                src="{{bartender_photo_url | relative_url }}"
                class="rounded-full border-4 border-[#ee3831] w-40"
            />
            <h3 class="bitter-font">{{bartender.name}}</h3>
            <p>{{bartender.tidbit}}</p>
        </div>
        {% endfor %}
    </div>
</section>
