<section id="events" class="mx-auto text-center w-4/5 md:w-1/2">
    <h2 class="bitter-font text-2xl mx-auto pb-2">Events</h2>
    <a id="calendar-link" href="{{site.data.winebar.calendar_link}}"
        ><super><em>subscribe</em></super></a
    >
    {% assign yesterday = 'now' | date: '%s' | minus: 43200 | date: '%Y-%m-%d'
    %} {% ical url: {{site.data.winebar.calendar_link}} after_date:
    {{yesterday}} limit: 3 %}
    <hr class="border-[#ee3831] border-2 w-2/3 mx-auto my-4 rounded-lg" />
    <h2 class="bitter-font text-2xl mx-auto pb-2">{{ event.summary }}</h2>
    <h2 class="bitter-font text-xl mx-auto pb-2">
        {{ event.start_time | date: '%A %B %d' }}
    </h2>
    <h2 class="bitter-font text-xl mx-auto pb-2">
        {{ event.start_time | date: '%-I:%M %P' }} - {{ event.end_time | date:
        '%-I:%M %P' }}
    </h2>
    <p>{{ event.description}}</p>
    {% endical %}
</section>
