<section id="events" class="mx-auto text-center w-2/3">
    <h2 class="bitter-font text-2xl mx-auto pb-2">Events</h2>
    <a href="{{site.data.winebar.calendar_link}}" <super><em>subscribe</em></super></a>

    <hr class="border-[#ee3831] border-2 w-2/3 mx-auto my-4" />
    <h2 class="bitter-font text-2xl mx-auto pb-2">Event Name</h2>
    <h2 class="bitter-font text-2xl mx-auto pb-2">Event date</h2>
    <p> Roll the wine around your mouth with your tongue and note the different flavors. Burgundy is the definition of a strong red. A complex cabernet is a good one. Sulfites are found in nearly all wines, produced by the yeast during fermentation. </p>
    <hr class="border-[#ee3831] border-2 w-2/3 mx-auto my-4" />
    <h2 class="bitter-font text-2xl mx-auto pb-2">Event Name</h2>
    <h2 class="bitter-font text-2xl mx-auto pb-2">Event date</h2>
    <p> Roll the wine around your mouth with your tongue and note the different flavors. Burgundy is the definition of a strong red. A complex cabernet is a good one. Sulfites are found in nearly all wines, produced by the yeast during fermentation. </p>
    <hr class="border-[#ee3831] border-2 w-2/3 mx-auto my-4" />
</section>
