<section>
    <header>
        <img
            class="pt-6 mx-auto w-3/4 md:w-2/3"
            src="{{ '/assets/img/logo.png' | relative_url}}"
        />
    </header>
    <hr class="border-[#ee3831] border-2 w-2/3 mx-auto my-4 rounded-lg" />

    <nav class="bitter-font mx-auto w-3/4 flex flex-wrap justify-around">
        <a href="#glass-list" class="hover:font-bold">Glass List</a>
        <a href="#cocktails" class="hover:font-bold">Cocktails</a>
        <a href="#events" class="hover:font-bold">Events</a>
        <a href="#bartenders" class="hover:font-bold">Bartenders</a>
        <a href="#hours" class="hover:font-bold" x>Hours & Directions</a>
    </nav>
    <hr class="border-[#ee3831] border-2 w-2/3 mx-auto my-4 rounded-lg" />
</section>
