<section>
    <header>
        <img
            class="pt-6 mx-auto w-3/4 md:w-2/3"
            src="{{ '/assets/img/logo.png' | relative_url}}"
        />
    </header>
    <hr class="border-[#ee3831] border-2 w-2/3 mx-auto my-4 rounded-lg" />

    <nav class="bitter-font mx-auto w-3/4 flex flex-wrap justify-around">
        <a href="#glass-list">Glass List</a>
        <a href="#cocktails">Cocktails</a>
        <a href="#events">Events</a>
        <a href="#bartenders">Bartenders</a>
        <a href="#hours">Hours & Directions</a>
    </nav>
    <hr class="border-[#ee3831] border-2 w-2/3 mx-auto my-4 rounded-lg" />
</section>
