<meta charset="utf-8" />
<title>{{site.title}}</title>
<meta name="author" content="{{site.title}}" />
<meta name="description" content="{{site.description}}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{ '/assets/img/favicons/apple-touch-icon.png' | relative_url }}"
/>
<link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{ '/assets/img/favicons/favicon-32x32.png' | relative_url }}"
/>
<link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{ '/assets/img/favicons/favicon-16x16.png ' | relative_url }}"
/>
<link
    rel="manifest"
    href="{{ '/assets/img/favicons/site.webmanifest' | relative_url }}"
/>
<link
    rel="shortcut icon"
    href="{{ '/assets/img/favicons/favicon.ico' | relative_url }}"
/>
<meta name="msapplication-TileColor" content="#ffffff" />
<meta
    name="msapplication-config"
    content="{{ '/assets/img/favicons/browserconfig.xml' | relative_url }}"
/>
<meta name="theme-color" content="#ffffff" />
<link href="{{ '/assets/css/style.css' | relative_url}}" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
/>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
