.bitter-font {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#events a {
    text-decoration: underline;
}

#events a :hover {
    font-weight: bold;
}
